section.apartmani_hero {
	margin: 100px 0 150px 0;
	position: relative;

	.img_wrapper {
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			-o-object-fit: cover;
			object-position: right;
			-o-object-position: right;
			display: block;
		}
		.card_pointer {
			position: absolute;
			width: 20px;
			height: 20px;
			// border: 1px solid red;

			.bubble_line {
				position: absolute;
				height: 0px;
				width: 1px;
				background: black;
				bottom: 50%;
				left: 50%;
				transform: rotate(-15deg);
				-o-transform: rotate(-15deg);
				transform-origin: bottom;
				z-index: 2;
			}
			&.lml_1 {
				top: 46%;
				left: 54%;

				&.point_active {
					.pointer_bubble {
						animation: pointer_bubble 0.5s forwards;
						animation-delay: 0.7s;
					}
					.bubble_line {
						animation: bubble_line 0.5s forwards;
						animation-delay: 0.5s;
					}
				}
			}
			&.lml_2 {
				top: 55%;
				left: 78%;
				&.point_active {
					.bubble_line {
						animation: bubble_line 0.5s forwards;
						animation-delay: 0.3s;
					}
					.pointer_bubble {
						animation: pointer_bubble 0.5s forwards;
						animation-delay: 0.9s;
					}
				}
			}
			.pointer_bubble {
				// width: 80px;
				// height: 80px;
				padding-top: 10px;
				position: absolute;
				background: rgba(0, 0, 0, 0.521);
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				border-radius: 10px;
				bottom: calc(100% + 50px);
				overflow: hidden;
				left: -60px;
				transform: scale(0);
				-o-transform: scale(0);
				z-index: 1010;
				cursor: pointer;
				transition: 0.3s all ease-in-out;
				-o-transition: 0.3s all ease-in-out;
				-moz-transition: 0.3s all ease-in-out;
				-webkit-transition: 0.3s all ease-in-out;
				.text {
					background-color: $accents_green;
					padding: 8px 24px;
					text-align: center;
					p {
						margin-bottom: 0;
					}
				}
				&:hover {
					background-color: rgba(0, 0, 0, 0.821);
				}

				h2 {
					line-height: 1;
					font-size: 2.4rem;
				}
				p {
					font-size: 0.7rem;
					margin-bottom: 8px;
				}
			}
		}
	}
	.apartmani_card {
		position: absolute;
		background: white;
		padding: 40px 0;
		top: -10%;
		left: 5%;
		border-radius: 5px;
		box-shadow: 3px 3px 8px rgba(59, 59, 59, 0.247);
		width: 30%;
		min-width: 520px;

		text-align: center;
		h2 {
			font-size: 3rem;
		}
		h3 {
			font-family: $fnt_accent;
			font-size: 2rem;
			color: $accents_green_lgt;
			&::after {
				content: "";
				display: block;
				width: 70px;
				background: $accents_green_lgt;
				height: 1px;
				margin: 25px auto 25px auto;
			}
		}
		p {
			width: 80%;
			margin: 0 auto 20px auto;
		}
	}
	@media (max-width: 1350px) {
		margin: 100px 0 250px 0;
		.img_wrapper {
			.apartmani_card {
				top: 80%;
				left: 50%;
				width: 800px;
				transform: translateX(-50%);
				-o-transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				h2 {
					font-size: 2.4rem;
				}
				h3 {
					font-size: 1.7rem;
					&::after {
						margin: 20px auto 20px auto;
					}
				}
				p {
					width: 90%;
				}
			}
		}
	}
	@media (max-width: 950px) {
		height: 320px;
		margin: 100px 0 300px 0;
		.img_wrapper {
			position: absolute;
			// border: 2px solid green;
			height: 320px;
			width: 954px;
			right: 0;
			.apartmani_card {
				transform: translateX(0);
				left: unset;
				top: 100%;
				right: 0%;
				width: 100vw;
			}
		}
	}
	@media (max-width: 800px) {
		// margin: 100px 0 470px 0;
		.img_wrapper {
			.apartmani_card {
				border-radius: 0;
				top: 100%;
				width: 100vw;
				min-width: 320px;
			}
		}
	}
	@media (max-width: 530px) {
		.img_wrapper {
			// border: 2px solid red;
			right: -18%;
			.card_pointer {
				.lml_1 {
					top: 46%;
					left: 45%;
				}
			}
			.apartmani_card {
				transform: translateX(-18%);
			}
		}
	}
	@media (max-width: 440px) {
		.img_wrapper {
			// border: 2px solid red;
			right: -22%;
			.card_pointer {
				&.lml_1 {
					left: 53%;
					.pointer_bubble {
						left: 0px;
					}
					.bubble_line {
						transform: rotate(15deg);
					}
				}
			}
			.apartmani_card {
				transform: translateX(-22%);
			}
		}
	}

	@media (max-width: 380px) {
		.img_wrapper {
			// border: 2px solid red;
			right: -40%;
			.card_pointer {
				&.lml_1 {
					left: 55%;
					.pointer_bubble {
						left: 0px;
					}
					.bubble_line {
						transform: rotate(15deg);
					}
				}
			}
			.apartmani_card {
				transform: translateX(-40%);
			}
		}
	}
}

// APARTMANI DETAILS

// render
section.render_apart {
	.pano_hdl {
		width: 790px;
		margin: 0 auto 50px auto;
		h2 {
			font-size: 3rem;
			text-align: center;
			line-height: 1.3;
		}
	}
	.pano_selector {
		width: 500px;
		margin: 0 auto 30px auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.btn {
			width: 210px;
			text-align: center;
			font-weight: 400;
			font-size: 1rem;
			&.white {
				border: 1px solid $accents_green;
			}
		}
	}
	.pano_wrapper {
		width: 100%;
		// border: 2px solid red;
		// height: 600px;
		overflow: hidden;
		position: relative;
		.render_wrapper {
			height: 100%;
			display: flex;
			justify-content: flex-start;
			// border: 2px solid red;
			transform: translateX(0%);
			-o-transform: translateX(0%);
			-moz-transform: translateX(0%);
			-webkit-transform: translateX(0%);
			transition: 0.4s all ease-in-out;
			-o-transition: 0.4s all ease-in-out;
			-webkit-transition: 0.4s all ease-in-out;
			-moz-transition: 0.4s all ease-in-out;
			&.render_active {
				transform: translateX(-100%);
				-o-transform: translateX(-100%);
				-moz-transform: translateX(-100%);
				-webkit-transform: translateX(-100%);
			}
			.render {
				flex: 0 0 100%;
				width: 100%;
				position: relative;

				img {
					width: 100%;
					// height: 100%;
					// object-fit: cover;
					// object-position: center;
					// -o-object-fit: cover;
					// -o-object-position: center;
					display: block;
					z-index: 1;
					&#r_mob {
						display: none;
					}
				}
				.lml_badge {
					position: absolute;
					top: 20px;
					left: 50%;
					transform: translateX(-50%);
					padding: 3px 15px;
					background: rgba(black, 0.6);
					color: white;
				}
				.fullScreen {
					&::before {
						content: "Proverite dosupnost na 3D modelu";
						position: absolute;
						right: 120%;
						color: white;
						width: 290px;
						top: 50%;
						transform: translateY(-50%);
						-o-transform: translateY(-50%);
					}
				}
			}
		}
		.mob_alert {
			display: none;
			padding: 0 20px;
			text-align: center;
			margin-top: 20px;
		}
	}
	@media (max-width: 1000px) {
		.pano_hdl {
			width: 600px;
			margin: 80px auto 50px auto;

			h2 {
				font-size: 2.2rem;
				text-align: center;
				line-height: 1.3;
			}
		}
	}
	@media (max-width: 600px) {
		.pano_hdl {
			width: 80%;
			// margin: 0 auto 50px auto;

			min-width: 320px;
			h2 {
				font-size: 1.8rem;
				text-align: center;
				line-height: 1.2;
			}
		}
		.pano_selector {
			width: 350px;
			.btn {
				width: 160px;
			}
		}
		.pano_wrapper {
			.render_wrapper {
				.render {
					img {
						display: none;
						&#r_mob {
							display: block;
						}
					}
					.fullScreen {
						&::before {
							content: "";
						}
					}
				}
			}
			.mob_alert {
				display: block;
			}
		}
	}
}

section.apart_slider {
	margin-bottom: 150px;
}

section.pogodnosti {
	margin-top: 80px;
	padding: 80px 0;
	background: $bg_green;
	.container {
		margin: 0px auto;
		.hdl_pogodnosti {
			text-align: center;
			width: 90%;
			margin: 0 auto;
			h2 {
				text-align: center;

				@include fluid-type(340px, 1920px, 28px, 48px);
				padding: 0 15px;
				display: inline-block;
				margin: 0 auto 2em auto;
				position: relative;
				&::after {
					position: absolute;
					content: "";
					width: 105%;
					height: 1px;
					background: $white;
					left: 50%;
					top: calc(100% + 20px);
					transform: translateX(-50%);
				}
			}
		}
		.pogodnosti_text {
			display: flex;
			align-items: stretch;
			justify-content: space-between;

			flex-wrap: wrap;
			width: 85%;
			margin: 0 auto;
			.left,
			.right {
				flex: 0 0 43%;
				ul {
					list-style-position: outside;
					list-style: disc;

					li {
						line-height: 1.4;

						font-size: 1rem;
						margin-bottom: 20px;
					}
				}
			}
			.dwnl_links {
				flex: 0 0 100%;
				width: 100%;
				margin: 50px 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				.btn {
					text-align: center;
					background: linear-gradient(to left, $white 50%, $accents_green 50%);
					background-size: 220%;
					transition: 0.4s all ease-in-out;
					background-position: right;
					&:hover {
						background-position: left;
						color: $white;
					}
				}
			}
			.add_info {
				padding: 20px 20px;
				width: 100%;
				background: $accents_green;

				margin: 0 auto;
				p {
					color: $white;
					text-align: center;
					line-height: 1.5;
					a {
						color: $white;
					}
				}
			}
		}
	}
	@media (max-width: 954px) {
		.container {
			.pogodnosti_text {
				.left,
				.right {
					flex: 0 0 100%;
					width: 100%;
				}
				.left {
					margin-bottom: 50px;
				}
			}
			.dwnl_links {
				align-items: stretch;
				.btn {
					font-size: 0.8rem;
					flex: 0 0 45%;
					margin-bottom: 30px;
					min-width: 261px;
				}
			}
		}
	}
}
