$hdln_font: "Bodoni Moda", serif;
$text-font: "Montserrat", sans-serif;
$fnt_clr: #373737;

$fnt_accent: "Parisienne", cursive;
$accents_green: #0c5c34;
$accents_green_drk: #05321c;
$accents_green_lgt: #99c2a5;
$white: #fff;
$bg_green: #cadeb2;
$progress: #d2d2d2;
$table_br: #c4c4c4;
$fnt_light: #3d3d3d;
$fsize: 16px;
$transition-in: 0.4s all ease-in-out;
$transition-out: 0.2s all ease-in-out;
$space_m: 2rem;
