section.loc {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 150px 0;
	.right {
		flex: 0 0 70%;
		width: 70%;
	}
	.left {
		flex: 0 0 30%;
		width: 30%;

		align-self: stretch;

		position: relative;
		.left_card {
			border-radius: 5px;
			padding: 30px;
			text-align: center;
			position: absolute;
			width: 110%;
			min-width: 460px;
			top: 50%;
			right: 10%;
			background: rgba(255, 255, 255, 0.96);
			transform: translate(50%, -50%);
			-o-transform: translate(50%, -50%);
			box-shadow: 2px 2px 5px rgba(59, 59, 59, 0.24);
			h2 {
				font-size: 3.2rem;
			}
			h3 {
				font-family: $fnt_accent;
				font-size: 1.9rem;
				color: $accents_green_lgt;
				&::after {
					width: 60px;

					height: 1px;
					background: $accents_green_lgt;
					content: "";
					display: block;
					margin: 30px auto 25px auto;
				}
			}
			p {
				line-height: 1.6;
				margin-bottom: 20px;
			}
		}
	}
	@media (max-width: 1240px) {
		margin: 80px 0;
		.right {
			.img_wrapper {
				height: 450px;
				img {
					height: 100%;
					object-fit: cover;
					-o-object-fit: cover;
				}
			}
		}
		.left {
			.left_card {
				h2 {
					font-size: 2.4rem;
				}
				h3 {
					font-size: 1.6rem;
					&::after {
						margin: 20px auto 15px auto;
					}
				}
				p {
					font-size: 0.95rem;
				}
			}
		}
	}
	@media (max-width: 768px) {
		flex-wrap: wrap;
		.left {
			flex: 0 0 100%;

			.left_card {
				position: relative;
				transform: translate(0, 0);
				-o-transform: translate(0, 0);
				top: 0;
				right: 0;
				width: 100%;
			}
			order: 2;
		}
		.right {
			flex: 0 0 100%;
			order: 1;
			.img_wrapper {
				height: 340px;
			}
		}
	}
}

section.pano_loc {
	display: flex;
	align-self: center;
	justify-content: center;
	margin: 150px 0;

	.left {
		flex: 0 0 80%;
		width: 80%;
		position: relative;

		iframe {
			width: 100%;
			height: 720px;
			display: block;
		}
	}
	.right {
		flex: 0 0 20%;
		width: 20%;
		position: relative;
		.card_right {
			position: absolute;
			width: 450px;
			top: 50%;
			right: 0;
			transform: translate(-20%, -50%);
			-o-transform: translate(-20%, -50%);
			height: 40%;
			padding: 1rem 2rem;
			background: white;
			text-align: center;
			display: flex;
			align-items: center;
			border-radius: 5px;
			box-shadow: 2px 2px 5px rgba(59, 59, 59, 0.24);
			p {
				line-height: 1.5;
				&::before {
					content: "";
					display: block;
					width: 80px;
					margin: 30px auto;
					height: 1px;
					background: $accents_green_lgt;
				}
			}
		}
	}

	@media (max-width: 1240px) {
		position: relative;
		flex-wrap: wrap;
		.left {
			flex: 0 0 100%;
			width: 100%;
			iframe {
				height: 520px;
			}
		}
		.right {
			flex: 0 0 70%;
			width: 70%;
			margin-top: -40px;

			.card_right {
				position: relative;
				top: 0;
				left: 0;
				transform: translate(0, 0);
				-o-transform: translate(0, 0);
				height: 100%;
				width: 100%;
				padding: 2rem;
			}
		}
	}

	@media (max-width: 768px) {
		flex-wrap: wrap;
		.left {
			flex: 0 0 100%;
			width: 100%;
			iframe {
				height: 450px;
			}
		}
		.right {
			flex: 0 0 100%;
			.card_right {
				position: relative;
				width: 100%;
				transform: translate(0, 0);
				-o-transform: translate(0, 0);
				top: 0;
				height: 100%;
			}
		}
	}
}
