// FONTS
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700&family=Montserrat:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import "variables";
@import "mixins";
@import "general";
@import "nav";
@import "project";
@import "investitor";
@import "kontakt";
@import "resort";
@import "nacionalniPark";
@import "lokacija";
@import "apartmani";
@import "animations";
// HEADER
header {
	margin-top: 57px;
	// height: 100vh;
	min-height: 100vh;
	background: url(/assets/hero_bg.png);
	position: relative;
	opacity: 0;
	transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-webkit-transition: 0.3s all ease-in-out;
	&.headerAnim {
		opacity: 1;
		.logo {
			opacity: 1;
			transform: translateX(-12%);
			-o-transform: translateX(-12%);
		}
		.hero-text {
			opacity: 1;
			transform: translate(0, 0);
			-o-transform: translate(0, 0);
		}
		.hero-headline {
			.hero-hg {
				opacity: 1;
				transform: translate(0, 0);
				-o-transform: translate(0, 0);
			}
			.headline-img {
				opacity: 1;
				transform: translate(0%, -50%);
				-o-transform: translate(0%, -50%);
			}
		}
	}

	.logo {
		opacity: 0;
		margin-top: 2rem;
		display: inline-block;
		transform: translateX(-60%);
		-o-transform: translateX(-60%);
		width: 50%;
		min-width: 320px;
		transition-delay: 0.3s;
		-o-transition-delay: 0.3s;
		-webkit-transition-delay: 0.3s;
		-moz-transition-delay: 0.3s;
		transition: 0.4s all ease-in-out;
		-o-transition: 0.4s all ease-in-out;
		-webkit-transition: 0.4s all ease-in-out;
		-moz-transition: 0.4s all ease-in-out;
		svg {
			width: 100%;
			display: block;
		}
		.mob_logo {
			display: none;
		}
	}

	.hero-text {
		position: absolute;
		top: 10%;
		right: 10%;
		// bottom: 0;
		// border: 1px solid red;
		width: 460px;
		font-size: 0.93rem;
		font-family: $hdln_font;
		height: 83px;
		overflow: visible;
		z-index: 1010;
		opacity: 0;
		transition: 0.4s all ease-in-out;
		-o-transition: 0.4s all ease-in-out;
		-webkit-transition: 0.4s all ease-in-out;
		-moz-transition: 0.4s all ease-in-out;
		transform: translate(30px, 80px);
		-o-transform: translate(30px, 80px);
		transition-delay: 0.6s;
		-o-transition-delay: 0.6s;
		-webkit-transition-delay: 0.6s;
		-moz-transition-delay: 0.6s;
		// .circle {
		// 	display: block;
		// 	img {
		// 		position: absolute;
		// 		top: 50%;
		// 		transform: translateY(-50%);
		// 		&:nth-child(2) {
		// 			transform: translateY(-50%) translateX(-20%);
		// 		}
		// 		&:nth-child(3) {
		// 			transform: translateY(-50%) translateX(20%);
		// 		}
		// 	}
		// }
		p {
			width: 70%;
			margin-left: auto;
		}
	}

	.hero-headline {
		margin-top: 80px;
		// border: 1px solid red;
		width: 100%;
		position: relative;

		.hero-hg {
			background-color: $accents_green_drk;
			background-image: url(/assets/hero_hgroup_bg.png);
			color: white;
			width: 70%;
			padding: 3rem 25% 3rem 10%;
			transform: translateX(-60%);
			-o-transform: translateX(-60%);
			opacity: 0;
			transition: 0.4s all ease-in-out;
			-o-transition: 0.4s all ease-in-out;
			-webkit-transition: 0.4s all ease-in-out;
			-moz-transition: 0.4s all ease-in-out;
			transition-delay: 0.7s;
			-o-transition-delay: 0.7s;
			-webkit-transition-delay: 0.7s;
			-moz-transition-delay: 0.7s;
			h1 {
				@include fluid-type(340px, 1920px, 40px, 90px);
				line-height: 1;
				display: inline-block;
				@include underline_hdl(50%, $accents_green_lgt, 1.5rem, 1.5rem);
			}
		}
		.headline-img {
			position: absolute;
			top: 50%;
			right: 10%;
			transform: translate(80%, -50%);
			-o-transform: translate(80%, -50%);
			opacity: 0;
			// border: 1px solid blue;
			display: inline-block;
			width: 40%;
			min-width: 640px;
			transition: 0.4s all ease-in-out;
			-o-transition: 0.4s all ease-in-out;
			-webkit-transition: 0.4s all ease-in-out;
			-moz-transition: 0.4s all ease-in-out;
			transition-delay: 0.7s;
			-o-transition-delay: 0.7s;
			-webkit-transition-delay: 0.7s;
			-moz-transition-delay: 0.7s;
			img {
				width: 100%;
				display: block;
			}
			.play-btn-big {
				// border: 1px solid red;
				width: 110px;
				height: 110px;
				cursor: pointer;
				position: absolute;
				bottom: 20%;
				right: 0;
				transform: translateY(-20%);
				-o-transform: translateY(-20%);
				transition: $transition-out;
				-moz-transition: $transition-out;
				-o-transition: $transition-out;
				-webkit-transition: $transition-out;
				// border: 1px solid red;
				margin-top: 100px;
				svg {
					width: 100%;
					height: 100%;
					pointer-events: none;
				}

				&:hover {
					transform: translateY(-20%) scale(1.05);
					-o-transform: translateY(-20%) scale(1.05);

					transition: $transition-in;
					-o-transition: $transition-in;
					-webkit-transition: $transition-in;
					-moz-transition: $transition-in;
				}
			}
		}
	}

	@media (max-width: 1350px) {
		&.headerAnim {
			.hero-headline {
				.headline-img {
					transform: translate(0, -50%);
					-o-transform: translate(0, -50%);
					-webkit-transform: translate(0, -50%);
					-moz-transform: translate(0, -50%);
				}
			}
		}
		.headline-img {
			right: 20px;
		}

		.hero-text {
			top: 20%;
			right: 40px;
		}
	}
	@media (max-width: 1224px) {
		&.headerAnim {
			.hero-headline {
				.headline-img {
					transform: translate(0, 0%);
					-o-transform: translate(0, 0%);
					-webkit-transform: translate(0, 0%);
					-moz-transform: translate(0, 0%);
				}
			}
		}
		.hero-text {
			top: 10%;
		}
	}

	@media (max-width: 1110px) {
		position: relative;
		&.headerAnim {
			.logo {
				transform: translateX(0);
			}
		}
		.logo {
			width: 100%;

			// -o-transform: translate(0, 0);
			// -moz-transform: translate(0, 0);
			// -webkit-transform: translate(0, 0);

			text-align: center;
			position: relative;
			height: 153px;
			overflow-x: hidden;

			svg {
				display: none;
			}
			.mob_logo {
				position: absolute;
				display: block;
				left: 50%;
				height: 100%;

				transform: translateX(-50%);
				-o-transform: translateX(-50%);
			}
		}
		.hero-headline {
			background-color: $accents_green_drk;
			background-image: url(/assets/hero_hgroup_bg.png);
			display: flex;
			align-items: stretch;
			justify-content: center;
			flex-wrap: wrap;
			margin-top: 40px;

			.hero-hg {
				// background-image: none;
				flex: 0 0 55%;
				width: 50%;
				background-image: none;
				background: none;

				padding: 20px;
				p {
					font-size: 0.95rem;
					width: 100%;
				}
				h1 {
					width: 100%;
				}
			}
			.headline-img {
				flex: 0 0 45%;
				width: 45%;
				min-width: unset;
				position: relative;
				top: unset;
				right: unset;

				transform: translate(0, 0);
				-o-transform: translate(0, 0);
				img {
					width: 100%;
				}
			}
		}
		.hero-text {
			top: 20%;
			right: 40px;
			display: none;
		}
	}
	@media (max-width: 850px) {
		.hero-headline {
			.hero-hg {
				padding: 50px;
				flex: 0 0 100%;
				width: 100%;
			}
			.headline-img {
				flex: 0 0 100%;
				width: 100%;

				// min-width: 550px;
			}
		}
	}
}

.map-section {
	margin-top: 150px;
	background-color: $bg_green;
	background-image: url(/assets/map/map-bg.png);
	background-size: cover;
	background-position: center;
	margin-bottom: 150px;
	padding: 30px 0 30px 0;
	transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	-webkit-transition: 0.4s all ease-in-out;
	-moz-transition: 0.4s all ease-in-out;

	.container {
		// border: 1px solid red;
		@include flex(center, space-between, wrap, row);
		.map-legend {
			flex: 0 0 35%;
			width: 35%;
			// border: 1px solid black;
			h2 {
				color: $accents_green;
				@include fluid-type(320px, 1920px, 20px, 40px);
				display: inline-block;
				position: relative;
				@include underline_hdl(50%, $accents_green, 1.5rem, 1.5rem);
			}
			p {
				display: block;
				width: 90%;
				font-size: 0.85rem;
				font-weight: 500;

				@include underline_hdl(50%, $accents_green, 1.5rem, 1.5rem);
			}
			ol {
				list-style-position: inside;
				list-style: none;
				li {
					font-size: 0.9rem;
					margin-bottom: 0.7em;
					cursor: pointer;
					span {
						font-weight: 500;
						font-size: 1rem;
						color: $accents_green;
					}

					&:hover {
						font-weight: 600;
						color: $accents_green;
					}
					&.active {
						font-weight: 600;
						color: $accents_green;
					}
				}
			}
		}
		.map-img {
			// border: 1px solid green;
			// align-self: stretch;
			flex: 0 0 65%;
			width: 65%;
			background-image: url(/assets/map/bg-logo.png);
			background-size: 85%;
			background-position: center;
			background-repeat: no-repeat;
			position: relative;

			& > img {
				width: 100%;
				display: block;
			}
			.point_wrapper {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;

				&.hovering {
					img {
						transform: scale(1.15);
						-o-transform: scale(1.15);
						transition: 0.2s all ease;
						-o-transition: 0.2s all ease;
						-webkit-transition: 0.2s all ease;
						-moz-transition: 0.2s all ease;
					}
					h3 {
						transform: scale(1.14);
						-o-transform: scale(1.14);
						transition: 0.2s all ease;
						-o-transition: 0.2s all ease;
						-webkit-transition: 0.2s all ease;
						-moz-transition: 0.2s all ease;
					}
				}
				img {
					width: 100%;
					height: 100%;
					display: block;
					position: absolute;
					top: 0;
					z-index: 0;
					object-fit: cover;
					-o-object-fit: cover;
				}
				h3 {
					position: relative;
					z-index: 1010;
					color: $accents_green;
					margin-top: -3px;
				}
			}
			.lamele {
				display: block;

				position: absolute;
				transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				cursor: pointer;
				// border: 1px solid red;

				&.lamela_1 {
					top: 48.5%;
					right: 27%;

					&:hover {
						background: rgba(255, 0, 0, 0.178);
					}
				}
				&.lamela_2 {
					top: 53%;
					right: 36.5%;
					&:hover {
						background: rgba(0, 128, 0, 0.301);
					}
				}
			}

			.card-lamela {
				position: absolute;
				top: 30%;
				right: -10%;
				background-color: $white;
				width: 650px;
				transform: scale(0);
				-o-transform: scale(0);
				opacity: 0;
				z-index: -1;
				transition: $transition-in;
				-o-transition: $transition-in;
				-webkit-transition: $transition-in;
				-moz-transition: $transition-in;

				// border: 1px solid red;
				@include flex(center, space-between, nowrap, row);
				// display: none;
				.close_lml {
					width: 1.3rem;
					height: 1.3rem;
					cursor: pointer;
					position: absolute;
					top: 10px;
					right: 10px;
					box-sizing: border-box;

					span {
						box-sizing: border-box;
						// display: block;
						position: absolute;
						height: 1.3rem;
						border-left: 2px solid $fnt_clr;
						transform: rotate(45deg);
						-o-transform: rotate(45deg);
						left: 11px;
						top: 0;
						&:last-child {
							transform: rotate(-45deg);
						}
					}
				}
				article {
					padding: 20px;
					flex: 0 0 70%;
					width: 70%;
					h3 {
						@include fluid-type(320px, 1920px, 20px, 30px);
						font-weight: 500;
					}
					.subHeading {
						color: $accents_green_lgt;
						margin-bottom: 1rem;
						font-size: 0.9rem;
					}
					.card_text {
						font-size: 0.85rem;
						p {
							&:last-child {
								margin-top: 10px;
							}
						}
					}
				}
				.img-wrapper {
					flex: 0 0 30%;
					width: 30%;
					// border: 1px solid red;
					align-self: stretch;
					overflow: hidden;
					img {
						width: 100%;
						display: block;
						height: 100%;
					}
				}

				&.show_info {
					opacity: 1;
					z-index: 10;
					top: 0;
					right: 0;
					transform: scale(1);
					-o-transform: scale(1);
				}
			}
		}
	}
	@media (max-width: 768px) {
		margin-top: 80px;
		.container {
			padding-left: 5%;
			position: relative;
			justify-content: center;

			.map-legend {
				flex: 0 0 30%;
				align-self: flex-start;
				margin-top: 10px;
				h2 {
					font-size: 2.7rem;
					line-height: 1;
				}
				p {
					display: none;
				}
				.btn {
					display: none;
				}
				ol {
					li {
						margin-bottom: 0.2em;
						font-size: 0.85rem;
						width: 125%;
					}
				}
			}
			.map-img {
				flex: 0 0 70%;
				width: 70%;
				.card-lamela {
					width: 80vw;
					&.show_info {
						top: 50%;
						right: 10%;
						transform: translateY(-50%);
						-o-transform: translateY(-50%);
						z-index: 2020;
					}
				}
			}
		}
	}

	@media (max-width: 645px) {
		.container {
			padding-left: 0;
			.map-legend {
				// border: 2px solid white;
				flex: 0 0 80%;
				width: 80%;
				min-width: 340px;
				display: flex;
				align-items: center;
				justify-content: end;
				flex-wrap: wrap;
				& > * {
					// border: 1px solid red;
					flex: 0 0 80%;
					min-width: 320px;
				}
				h2 {
					font-size: 3.4rem;
				}
				ol {
					li {
						font-size: 1rem;
					}
				}
			}
			.map-img {
				flex: 0 0 100%;
				width: 100%;

				min-width: 340px;
				.card-lamela {
					flex-direction: column;
					min-width: 296px;

					.img-wrapper {
						flex: 0 0 250px;
						width: 100%;
						height: 250px;
						object-fit: cover;
						-o-object-fit: cover;
						object-position: bottom;
						-o-object-position: bottom;
						img {
							object-fit: cover;
							-o-object-fit: cover;
							object-position: bottom;
							-o-object-position: bottom;
						}
					}
					article {
						flex: 1;
						width: 100%;
						padding-bottom: 30px;
						h3 {
							font-size: 1.9rem;
							line-height: 1.2;
						}
						.subHeading {
							font-size: 1.2rem;
						}
					}
					&.show_info {
						top: 0;
					}
				}
			}
		}
	}
}

// pano
section.pano {
	position: relative;
	margin-bottom: 150px;
	z-index: 1010;
	transition: $transition-in;
	-o-transition: $transition-in;
	-webkit-transition: $transition-in;
	-moz-transition: $transition-in;
	iframe {
		width: 100%;
		height: 80vh;
		display: block;
	}
	.right_side {
		position: absolute;
		height: 100%;
		width: 30px;

		bottom: 0;
		right: 0;
		z-index: 3030;
	}
}

.resort {
	.resort_inner {
		@include flex(center, space-between, wrap, row);
		.img_wrapper {
			flex: 0 0 70%;
			width: 70%;

			z-index: 3;
			position: relative;
			z-index: 2;
			transition: 0.5s all ease-in-out;
			-o-transition: 0.5s all ease-in-out;
			-webkit-transition: 0.5s all ease-in-out;
			-moz-transition: 0.5s all ease-in-out;
			overflow: hidden;

			img.res_text {
				position: absolute;
				bottom: 0;
				width: 65%;
				left: -5px;
			}
		}
		.card-wrapper {
			flex: 0 0 30%;
			width: 30%;

			.card_style {
				transition: 0.5s all ease-in-out;
				-o-transition: 0.5s all ease-in-out;
				-webkit-transition: 0.5s all ease-in-out;
				-moz-transition: 0.5s all ease-in-out;
				position: relative;
				// border: 1px solid red;
				h2 {
					position: relative;
					z-index: 3;
				}
				.circle {
					img {
						width: 130px;
						height: 130px;
						top: 12%;
						left: -15%;
						z-index: 2;
					}
				}
			}
		}
		@media (max-width: 768px) {
			.img_wrapper {
				min-width: 100px;
				flex: 0 0 60%;
				width: 60%;
				height: 350px;

				img {
					height: 100%;
					object-fit: cover;
					-o-object-fit: cover;
					object-position: right;
					-o-object-position: right;
					&.res_text {
						display: none;
					}
				}
			}
			.card-wrapper {
				min-width: 100px;
				flex: 0 0 40%;
				width: 40%;
			}
		}
		@media (max-width: 600px) {
			.img_wrapper {
				min-width: 100px;
				flex: 0 0 100%;
				width: 100%;
				height: 350px;

				img {
					height: 100%;
					object-fit: cover;
					-o-object-fit: cover;
					object-position: right;
					-o-object-position: right;
					&.res_text {
						display: none;
					}
				}
			}
			.card-wrapper {
				min-width: 100px;
				flex: 0 0 100%;
				width: 100%;
				.card_style {
					.circle {
						display: none;
					}
					h2 {
						font-size: 2.2rem;
					}
				}
			}
		}
	}
}

.apartmani {
	margin: 100px 0;
	.apartmani_wrapper {
		transition: 0.5s all ease-in-out;
		-o-transition: 0.5s all ease-in-out;
		-webkit-transition: 0.5s all ease-in-out;
		-moz-transition: 0.5s all ease-in-out;
		position: relative;

		height: 671px;
		&.opacity_0 {
			opacity: 1;
			transform: translate(0, 0);
			-o-transform: translate(0, 0);
			.img-wrapper {
				opacity: 0;
				transform: translate(30px, 50px);
				-o-transform: translate(30px, 50px);
			}
			.card_wrapper {
				.card_style {
					transform: translate(-30px, 50px);
					-o-transform: translate(-30px, 50px);
				}
			}
		}
		& > .img-wrapper {
			transition: 0.5s all ease-in-out;
			-o-transition: 0.5s all ease-in-out;
			-webkit-transition: 0.5s all ease-in-out;
			-moz-transition: 0.5s all ease-in-out;
			img {
				object-position: center;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.card-wrapper {
			position: absolute;
			width: 550px;
			min-width: 320px;
			left: 10%;
			bottom: -50px;

			.card_style {
				transition: 0.5s all ease-in-out;
				-o-transition: 0.5s all ease-in-out;
				-webkit-transition: 0.5s all ease-in-out;
				-moz-transition: 0.5s all ease-in-out;
				text-align: center;
				width: 100%;
				background-color: opacify($white, 0.5);
				border-radius: 5px;
				.card_accent {
					&::after {
						width: 25%;
						margin: 10px auto 20px auto;
					}
				}
			}
		}
		.img-wrapper {
			// overflow: hidden;
			// overflow: hidden;
			display: block;

			height: 100%;
			overflow: hidden;
		}
	}
	@media (max-width: 650px) {
		.apartmani_wrapper {
			.card-wrapper {
				bottom: -10%;
				width: 80%;
				min-width: 340px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

.sliderSection {
	overflow: hidden;
	margin-top: 100px;
	position: relative;

	.slider {
		position: relative;
		.items_container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			overflow: hidden;

			transition: 0.6s margin ease-in-out;
			-o-transition: 0.6s margin ease-in-out;
			-webkit-transition: 0.6s margin ease-in-out;
			-moz-transition: 0.6s margin ease-in-out;
			.item {
				flex: 0 0 33.33%;
				width: 33.33%;
				height: 704px;
				margin-left: 20px;
				position: relative;
				&:first-child {
					margin-left: 0;
				}
				img:first-child {
					width: 100%;
					height: 100%;
					object-fit: cover;
					-o-object-fit: cover;
					display: block;
				}
				.slider_num {
					position: absolute;
					z-index: 2020;
					bottom: -5%;
					right: 20px;
					width: 75%;
				}
			}
		}
		.controls {
			width: 45%;
			min-width: 340px;
			margin: 40px auto 0 auto;
			font-family: $hdln_font;
			.ctrl_count {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100px;
			}
			.buttons {
				border-top: 1px solid $fnt_clr;
				padding-top: 20px;
				margin-top: 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.next_prev {
					width: 300px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					& > * {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						&.next {
							img {
								margin-left: 10px;
							}
						}
						&.prev {
							img {
								margin-right: 10px;
								transform: rotate(180deg);
								-o-transform: rotate(180deg);
							}
						}
					}
				}
			}
		}
	}
	.vertical_txt {
		font-weight: 500;
		letter-spacing: 1.8px;
		width: 290px;
		padding: 20px 0;
		position: absolute;
		bottom: 135px;
		right: -20px;
		transform: rotate(-90deg);
		// -o-transform: rotate(-90deg);
		z-index: 4;
		background-color: rgba(255, 255, 255, 0.637);
		// background-color: rgba(255, 255, 255, 0.507);
		box-shadow: -3px 2px 5px rgba(0, 0, 0, 0.26);
		overflow: hidden;

		.txt_v {
			position: relative;
			width: 220px;
			margin: 0 auto;
			z-index: 2;

			h2 {
				font-size: 2.5rem;
				text-transform: uppercase;
				line-height: 1;
			}
			p {
				font-family: $hdln_font;
				font-size: 1rem;
				text-transform: uppercase;
			}
		}
	}

	@media (max-width: 768px) {
		.vertical_txt {
			display: none;
		}
		.slider {
			.controls {
				width: 80%;
			}
		}
	}
	@media (max-width: 470px) {
		.touchLeft {
			position: absolute;
			left: 0;
			top: 0;
			height: 78%;
			width: 50%;

			z-index: 3020;
			cursor: pointer;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			display: none;
		}
		.touchRight {
			position: absolute;
			right: 0;
			top: 0;
			height: 78%;
			width: 100%;

			z-index: 3020;
			cursor: pointer;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.vertical_txt {
			display: none;
		}
		.slider {
			.controls {
				width: 95%;
				.buttons {
					flex-wrap: wrap;
					justify-content: center;
					.next_prev {
						flex: 0 0 100%;
						width: 100%;
					}
				}
			}
		}
	}
}

.fruska_gora {
	margin: 150px 0;
	height: 671px;

	background: url(../assets/fruskaGora/fruskaGora.jpg);
	// background-attachment: fixed;
	background-position: 60% 60%;
	background-size: cover;
	display: flex;
	align-items: stretch;
	justify-content: flex-end;
	transition: 0.9s all ease-in-out;
	-o-transition: 0.9s all ease-in-out;
	-webkit-transition: 0.9s all ease-in-out;
	-moz-transition: 0.9s all ease-in-out;
	&.opacity_0 {
		transform: translate(0, 0);
		opacity: 0;

		.fruska_wrapper {
			transform: translateY(30px);
			opacity: 0;
		}
	}
	&.opacity_1 {
		opacity: 1;
		background-position: top center;
		.fruska_wrapper {
			transform: translateY(0px);
			opacity: 1;
		}
	}
	.fruska_wrapper {
		flex: 0 0 38%;
		width: 38%;
		min-width: 600px;
		background: rgba($accents_green, 0.93);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		z-index: 2;
		transition: 0.5s all ease-in-out;
		-o-transition: 0.5s all ease-in-out;
		-webkit-transition: 0.5s all ease-in-out;
		-moz-transition: 0.5s all ease-in-out;
		transition-delay: 0.4s;
		-o-transition-delay: 0.4s;
		-webkit-transition-delay: 0.4s;
		-moz-transition-delay: 0.4s;
		h2,
		h3,
		p {
			position: relative;
			z-index: 3;
			width: 80%;
			color: white;
			text-align: center;
		}
		h3 {
			font-family: $fnt_accent;
			font-size: 2.4rem;
			letter-spacing: 1.5px;
		}
		h2 {
			margin-bottom: 70px;
			font-size: 3.7rem;
			letter-spacing: 2px;
			line-height: 1;
			&::after {
				content: "";
				display: block;
				width: 50px;
				height: 1px;
				background: $bg_green;
				margin: 30px auto 0 auto;
			}
		}
		p {
			font-weight: 500;
			letter-spacing: 1px;
		}
		.btn {
			padding: 20px 30px;
		}
		img.fruska_logo {
			width: 70%;
			height: 70%;
			// object-fit: cover;
			// -o-object-fit: cover;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			z-index: 0;
		}
	}
	@media (max-width: 768px) {
		height: 442px;
		.fruska_wrapper {
			min-width: 320px;
			flex: 0 0 50%;
			width: 50%;

			z-index: 1;

			h3 {
				font-size: 1.9rem;
			}
			h2 {
				font-size: 2.5rem;
				margin-bottom: 20px;
			}
			p {
				font-size: 0.85rem;
			}
			img.fruska_logo {
				width: 80%;
				height: unset;
				object-position: center;
				object-fit: cover;
				z-index: 0;
			}
			.btn {
				position: relative;
				z-index: 1010;
			}
		}
	}
	@media (max-width: 640px) {
		height: 720px;
		flex-direction: column;
		.fruska_wrapper {
			flex: 0 0 50%;
			width: 100%;
			height: 50%;
			img.fruska_logo {
				height: 70%;
				width: unset;
			}
		}
	}
}

.division_cards {
	margin-bottom: 100px;
	.promont_logo {
		text-align: center;
		margin-bottom: 50px;
	}
	.division_wrapper {
		display: flex;
		align-items: center;
		justify-content: center;

		flex-wrap: wrap;

		position: relative;
		z-index: 20;
		overflow-y: hidden;
		.card_wrapper {
			flex: 0 0 50%;
			width: 50%;
			min-width: 50%;
			display: flex;
			align-items: center;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		.card {
			width: 341px;
			height: 343px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			.card_img {
				position: absolute;
				width: 100%;
				height: 100%;
				display: block;
				top: 0;
				left: 0;
				z-index: 0;
				overflow: hidden;
				img {
					display: block;
					height: 100%;
					width: 100%;
					z-index: 0;
					transition: $transition-out;
					-o-transition: $transition-out;
					-webkit-transition: $transition-out;
					-moz-transition: $transition-out;
				}
			}
			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				height: 62%;
				max-height: 62%;
				min-height: 62%;
				width: 100%;
				background: rgba(black, 0.6);
				mix-blend-mode: hard-light;
				transition: $transition-out;
				-o-transition: $transition-out;
				-webkit-transition: $transition-out;
				-moz-transition: $transition-out;
				&::after {
					display: block;
					width: 100%;
					height: 3px;
					content: "";
					background: $bg_green;
					bottom: 0;
					position: absolute;
				}
			}
			.letter_overly {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transition: $transition-out;
				-o-transition: $transition-out;
				-webkit-transition: $transition-out;
				-moz-transition: $transition-out;
				// border: 1px solid red;
			}
			h2 {
				position: relative;
				z-index: 2;
				color: white;
				font-size: 2.4rem;
				text-transform: uppercase;
			}
			cursor: pointer;
			transition: $transition-out;
			-o-transition: $transition-out;
			-webkit-transition: $transition-out;
			-moz-transition: $transition-out;

			&:hover {
				.card_img {
					img {
						filter: blur(3px);
						transition: $transition-in;
						-o-transition: $transition-in;
						-webkit-transition: $transition-in;
						-moz-transition: $transition-in;
					}
				}
				.overlay {
					min-height: 100%;
					transition: $transition-in;
					-o-transition: $transition-in;
					-webkit-transition: $transition-in;
					-moz-transition: $transition-in;
				}
				.letter_overly {
					transition: $transition-in;
					-o-transition: $transition-in;
					-webkit-transition: $transition-in;
					-moz-transition: $transition-in;
					transition-duration: 0.5s;
					transform: translate(-50%, -50%) scale(0.9);
					-o-transform: translate(-50%, -50%) scale(0.9);
				}
			}
		}
	}
	@media (max-width: 1550px) {
		.division_wrapper {
			.card_wrapper {
				flex: 0 0 100%;
				width: 100%;
				justify-content: space-evenly;
				// margin-bottom: 40px;
				@supports (-ms-ime-align: auto) {
					justify-content: space-around;
				}
				.card {
					margin-bottom: 50px;
				}
			}
		}
	}
}

// VIDEO SECTION

.videoSection {
	background: black;
	position: relative;
	margin-bottom: 100px;

	height: 650px;

	& > img {
		width: 100%;
		display: block;
		opacity: 0.5;
		height: 100%;
		object-fit: cover;
		-o-object-fit: cover;
	}
	.overlay_hg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		height: 80%;
		padding: 50px 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		.hg_text {
			width: 100%;
			text-align: center;
			h3 {
				color: $accents_green_lgt;
				font-family: $text-font;
				text-transform: uppercase;
				position: relative;
			}
			h2 {
				font-size: 4.5rem;
				color: $white;
				position: relative;

				display: inline-block;
				&::after {
					content: "";
					display: block;
					width: 80%;
					height: 2px;
					background: $bg_green;
					margin: 0 auto;
				}
			}
			p {
				color: $white;
				margin: 30px 0;
			}
		}
		.video_controls {
			text-align: center;

			.play_btn {
				position: relative;
				border: 2px solid $white;
				width: 80px;
				height: 80px;
				border-radius: 50%;

				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				background: black;
				cursor: pointer;

				z-index: 3;
				img {
					width: 25px;
					position: relative;
					z-index: 4;
					pointer-events: none;
				}
				img.blured {
					pointer-events: none;
					position: absolute;

					z-index: 0;
					left: 50%;
					transform: translateX(-50%);
					-o-transform: translateX(-50%);
					object-fit: cover;
					-o-object-fit: cover;
					filter: blur(1px);
					opacity: 0.5;
				}
			}

			h3 {
				color: $white;
				margin-top: 10px;
				font-size: 1rem;
				font-weight: 200;
				letter-spacing: 1px;
			}
		}
	}
	@media (max-width: 768px) {
		height: 450px;
		.overlay_hg {
			width: 80%;
			min-width: 280px;
			padding: 0px;
			.hg_text {
				h2 {
					font-size: 3.2rem;
				}
				p {
					font-size: 0.9rem;
				}
			}
		}
	}
}
